
@font-face {
  font-family: font;
  src: url(/font.woff2);
  font-display: block;
}

body {
  font-family: font;
  background-color: black;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

a {
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 10px;
  background-image: url(/github.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 0 5px purple) drop-shadow(0 0 10px purple);
  transition: scale 0.25s ease;
}

a:hover {
  scale: 1.1;
}

#controls {
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 10px;
  background-color: rgba(50, 50, 50, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  padding: 10px;
  color: white;
  line-height: 5px;
  padding-top: 0;
}

h2 {
  font-size: 20px;
  text-shadow: 0 2px grey, 0 0 4px black, 0 2px 4px black;
}

h5 {
  font-size: 15px;
  text-shadow: 0 1.5px grey, 0 0 3px black, 0 1.5px 3px black;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  font-size: 15px;
  text-shadow: 0 1.5px grey, 0 0 3px black, 0 1.5px 3px black;
  line-height: 20px;
  margin-bottom: 0;
}

#particle-amount {
  font-family: font;
  background-color: rgba(50, 50, 50, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  padding-left: 5px;
  color: white;
}

button {
  font-family: font;
  color: white;
  background-color: rgba(0, 255, 0, 0.5);
  border: 2px solid rgba(0, 255, 0, 0.75);
  text-shadow: 0 1.5px grey, 0 0 3px black, 0 1.5px 3px black;
  border-radius: 10px;
  transition: scale 0.2s ease;
}

button:hover {
  scale: 0.95;
}

button:active {
  scale: 0.85;
}

select {
  width: 100%;
  border-radius: 10px;
  font-family: font;
  background-color: rgba(50, 50, 50, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.75);
  color: white;
}