
body {
  font-family: monospace;
  background-color: black;
  overflow: hidden;
  font-weight: 500;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#githubBtn {
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 10px;
  background-image: url(/github.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 0 5px purple) drop-shadow(0 0 10px purple);
  transition: scale 0.25s ease;
  display: none;
}

#githubBtn:hover {
  scale: 1.1;
}

#controls {
  position: absolute;
  z-index: 2;
  left: 10px;
  bottom: 10px;
  background-color: hsla(0, 0%, 15%, 0.8);
  border-radius: 20px;
  padding: 10px;
  color: white;
  line-height: 5px;
  padding-top: 5px;
}

#controls h2 {
  font-size: 15px;
}

#controls p {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0;
}

:root {
  --tp-base-background-color: hsla(0, 0%, 15%, 0.80);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: hsla(0, 0%, 80%, 1);
  --tp-button-background-color-active: hsla(0, 0%, 100%, 1);
  --tp-button-background-color-focus: hsla(0, 0%, 95%, 1);
  --tp-button-background-color-hover: hsla(0, 0%, 85%, 1);
  --tp-button-foreground-color: hsla(0, 0%, 0%, 0.8);
  --tp-container-background-color: hsla(0, 0%, 0%, 0.3);
  --tp-container-background-color-active: hsla(0, 0%, 0%, 0.6);
  --tp-container-background-color-focus: hsla(0, 0%, 0%, 0.5);
  --tp-container-background-color-hover: hsla(0, 0%, 0%, 0.4);
  --tp-container-foreground-color: hsla(0, 0%, 100%, 0.5);
  --tp-groove-foreground-color: hsla(0, 0%, 0%, 0.2);
  --tp-input-background-color: hsla(0, 0%, 0%, 0.3);
  --tp-input-background-color-active: hsla(0, 0%, 0%, 0.6);
  --tp-input-background-color-focus: hsla(0, 0%, 0%, 0.5);
  --tp-input-background-color-hover: hsla(0, 0%, 0%, 0.4);
  --tp-input-foreground-color: hsla(0, 0%, 100%, 0.5);
  --tp-label-foreground-color: hsla(0, 0%, 100%, 0.5);
  --tp-monitor-background-color: hsla(0, 0%, 0%, 0.3);
  --tp-monitor-foreground-color: hsla(0, 0%, 100%, 0.50);
}